<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Queues
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header style="margin-bottom:10px ;">
      Your Current Queues
    </ion-list-header>
    <div *ngFor="let activity of (favList | async); let i= index">
      
       
        <div>
        <ion-item>
          <ion-icon name="people-circle-outline"></ion-icon>
          <ion-label style="text-indent:10%;">{{activity.name}} - {{services[i]?.toUpperCase().slice(0,-6)}}</ion-label>
          <ion-button color="danger" style="align-items: left;" (click) = "removeFav(services[i])">UnEnroll</ion-button>
        </ion-item>
    </div>
    </div>
  
  </ion-list>

</ion-content>
