<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!mediaItems">
    <ion-card>
      <ion-skeleton-text class="skeleton-image" animated> </ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated> </ion-skeleton-text>
        <ion-skeleton-text animated> </ion-skeleton-text>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="skeleton-image" animated> </ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated> </ion-skeleton-text>
        <ion-skeleton-text animated> </ion-skeleton-text>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="skeleton-image" animated> </ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated> </ion-skeleton-text>
        <ion-skeleton-text animated> </ion-skeleton-text>
      </ion-card-header>
    </ion-card>
</div>
<div  *ngFor="let activity of mediaItems" >
  <ion-card [routerLink]="['activity-detail', activity.id]" 
  *ngIf="activity.isAvailable">
  
    <ion-img [src]="activity.img">
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        {{activity.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  </div>

</ion-content>
