<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar (click) = "selectImgSrc()" class="profle-pic">
    <ion-img [src]="(myStoredImg | async)?.image_src"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>User 1</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      USER PROFILE MOCK
    </ion-card-content>
  </ion-card>
</ion-content>
